{%extends "project/base.html"%}

{%block topContent%}
{%endblock%}

{%block content%}
<div class = "row" style = "margin-top:100px;">
	<div class = "col-md-8 offset-md-2">
		<h4>About this App</h4>
		<hr>
		<p>This is a python/django powered application which recoreds various project a developer has completed / is working on.</p>
		<p class = "bg-info p-2">Technologies</p>
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>Bootstrap</li>
			<li>Javascript</li>
			<li>Python/Django</li>
		</ul>

		<div class = "mt-5">
			<h4>Contact Developer</h4>
			<hr>
			<p>Phone: <strong>+2349054719111</strong></p>
			<p>Whatsapp: <strong>+2348083673149</strong></p>
			<p>Email: <strong>royaleagle.dev@gmail.com</strong></p>
		</div>
		</div>
	</div>
</div>
{%endblock%}